#Egret Wing
.wing
typings

# OS temps
.DS_Store

# Logs
*.log

#compile file
jsconfig.json
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/LNTUAcademic.iml
.idea/modules.xml
